/venv/
/SmartyS_DB.sqlite
/.idea/
/bot_log.log
/error_log.txt
/data/groups.json
/data/teachers.json
/data/valid_case_groups.json
/data/start.txt
/data/help.txt
/data/breaks_time.json
/data/lessons_time.json
