{% extends "base.html" %}

{% block title %}SBot метрика{% endblock %}

{% block content %}

    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <b>Користувачів зареєстровано:</b> {{ data.all_users_count }} <br>
                <b>Зареєстровано за тиждень:</b> {{ data.users_registered_week }} <br>
                <b>Груп в системі:</b> {{ data.all_groups_count }} <br>
            </div>
            <div class="col-md-6">
                <b>Активних за сьогодні:</b> {% if data.all_users_count %}{{ data.active_today_users_count }}
                ({{ (data.active_today_users_count / data.all_users_count * 100)|round(1, 'floor') }}%){% else %}
                0{% endif %}<br>
                <b>Активних за вчора:</b> {% if data.all_users_count %}{{ data.active_yesterday_users_count }}
                ({{ (data.active_yesterday_users_count / data.all_users_count * 100)|round(1, 'floor') }}%){% else %}
                0{% endif %}<br>
                <b>Активних за тиждень:</b> {% if data.all_users_count %}{{ data.active_week_users_count }}
                ({{ (data.active_week_users_count / data.all_users_count * 100)|round(1, 'floor') }}%){% else %}
                0{% endif %}<br>
            </div>
        </div>
        <br>
        <hr>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseGetTop" role="button" aria-expanded="false" aria-controls="collapseExample">
            Топ
        </a>
        <div class="collapse" id="collapseGetTop">
            <br>
            <div class="row">
            <div class="col-md-4 col-sm-12">
                <h4>Топ {{ data.top_groups_by_users|length }} груп по студентам</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Назва</th>
                        <th scope="col">Кількість студентів</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in data.top_groups_by_users %}
                        <tr>
                            <td>{{ group[0] }}</td>
                            <td>{{ group[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4>Топ {{ data.top_groups_by_requests|length }} груп по запитам</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Назва</th>
                        <th scope="col">Кількість запитів</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in data.top_groups_by_requests %}
                        <tr>
                            <td>{{ group[0] }}</td>
                            <td>{{ group[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4>Топ {{ data.top_teachers|length }} викладачів із {{ data.saved_teachers_count }}:</h4>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Ім'я</th>
                        <th scope="col" style="width: 100px;">Кількість збережень</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in data.top_teachers %}
                        <tr>
                            <td>{{ teacher[0] }}</td>
                            <td>{{ teacher[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <canvas id="requests-types-chart"></canvas>
            </div>
            <div class="col-md-6 col-sm-12">
                <canvas id="requests-on-days"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <canvas id="requests-on-hours"></canvas>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h4>Оновлення викладачів</h4>
                <div>Останнє оновлення: {{ data.teachers_update_time }}</div>
                <a class="btn btn-warning" href="/fl/update_teachers" role="button" target="_blank">Оновити</a>
            </div>
            <br>
            <div class="col-md-6 col-sm-12">
                <h4>Оновлення груп</h4>
                <div>Останнє оновлення: {{ data.groups_update_time }}</div>
                <a class="btn btn-success" href="/fl/update_groups" role="button" target="_blank">Оновити</a>
            </div>
        </div>
        <br>
        <hr>
        <div>
            <b>Розклад:</b> <a href="{{ data.timetable_url }}" target="_blank">{{ data.timetable_url }}</a><br>
            <b>API:</b> <a href="{{ data.api_url }}" target="_blank">{{ data.api_url }}</a><br>
        </div>
        <hr>
        <h4>Вебхук:</h4>
        <div class="row">
            <div class="col-sm-6">
                <b>Url:</b> {% if data.webhook.url %} {{ data.webhook.url }} {% else %} - {% endif %}<br>
                <b>Очікують обробки:</b> {{ data.webhook.pending_update_count }}<br>
            </div>
            <div class="col-sm-6">
                <b>Остання помилка:</b> {% if data.webhook.last_error_message %} {{ data.webhook.last_error_message }} {% else %} - {% endif %}<br>
                {% if data.webhook.last_error_date %}({{ data.webhook.last_error_date }}){% endif %}
            </div>
        </div>
        <br>
        <a class="btn btn-outline-info" href="/fl/init/?hook_id=1" role="button" target="_blank">Встановити openbiblio.zu.edu.ua</a>
        <a class="btn btn-outline-secondary" href="/fl/init/?hook_id=2" role="button" target="_blank">Встановити bot.zu.edu.ua</a>
        <a class="btn btn-outline-success" href="/fl/init/" role="button" target="_blank">На поточний домен</a>
        <a class="btn btn-outline-danger" href="/fl/init/?hook_id=0" role="button" target="_blank">Видалити</a>
        <br> <br>
        <a class="btn btn-outline-warning" href="/fl/git_pull" role="button" target="_blank">Git pull</a>
    </div>
    <br>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename = 'js/requests-types-chart.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/requests_on_hours.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/requests-on-days.js') }}"></script>
{% endblock %}
