{% extends "base.html" %}

{% block title %}SmartySBot користувачі{% endblock %}

{% block content %}

  <div class="content">

    {% if data.message %}
     <div class="alert alert-primary" role="alert">
      {{ data.message|safe }}
    </div>
    {% endif %}


   {% if data.users %}
    <table class="table table-bordered  table-hover">
      <thead>
        <tr>
          <th scope="col">TID</th>
          <th scope="col">Username</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">User group</th>
          <th scope="col">Reg date</th>
          <th scope="col">LU date</th>
          <th scope="col">Reqs</th>
        </tr>
      </thead>
      <tbody>
       {% for user in data.users %}
        <tr>
          <th scope="row"><a href="/fl/user/{{ user.telegram_id }}" target="_blank">{{ user.telegram_id }}</a></th>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.group }}</td>
          <td>{{ user.register_date }}</td>
          <td>{{ user.last_use_date }}</td>
          <td>{{ user.requests_count }}</td>
        </tr>
        {% endfor %}
        <tr>
      </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}
