{% extends "base.html" %}

{% block title %}Статистика {{ data.user[2] }}{% endblock %}

{% block content %}

  <div class="content">

    {% if data.message %}
     <div class="alert alert-success" role="alert">
      {{ data.message|safe }}
    </div>
    {% endif %}

    <div class="alert alert-secondary" role="alert">
        [{{ data.user[0] }}] <b>{{ data.user[1] }}</b> {{ data.user[2] }} {{ data.user[3] }} <i>({{ data.user[4] }})</i> <br>
        <b>Реєстрація:</b> {{ data.user[6] }} <br>
        <b>Остання активність: </b>{{ data.user[7] }}
        <br><br>
		<b>Запити по викладачам: </b>
		{% if data.saved_teachers %}
            <br><br>
            {% for teacher in data.saved_teachers %}
                {{ teacher }} <br>
            {% endfor %}
        {% endif %}
    </div>

    <form class="" action="/fl/send_message" method="post">
      <label for="text-msg">Повідомлення: </label>
      <input type="text" name="text" value="" id="text-msg">
      <input type="hidden" name="usr-id" value="{{ data.user[0] }}">
      <input class="btn btn-outline-primary" type="submit" value="Відправити">
    </form>

    <a id="del-btn" class="btn btn-outline-danger" href="/fl/del_user/{{ data.user[0] }}" role="button" onclick ="return confirm('Видалити {{ data.user[2] }}?');">Видалити</a>

   {% if data.actions %}
    <table class="table table-bordered  table-hover">
      <thead>
        <tr>
          <th scope="col">№ запиту</th>
          <th scope="col">Тип</th>
          <th scope="col">Група</th>
          <th scope="col">Дата та час</th>
        </tr>
      </thead>
      <tbody>
       {% for action in data.actions %}
        <tr>
          <td scope="row" style="font-weight: bold">{{ action.action_id }}</td>
          <td>{{ action.action_type }}</td>
          <td>{{ action.action_group }}</td>
          <td>{{ action.action_date }}</td>
        </tr>
        {% endfor %}
        <tr>
      </tbody>
  </table>
  {% endif %}
</div>

{% endblock %}
